<div style="margin-top: 100px; margin-left: 5%; margin-right: 5%;">
  <p-card>
    <ng-template pTemplate="title">
      Manager Dashboard
    </ng-template>
    <ng-template pTemplate="subtitle">
      My restaurants
    </ng-template>
    <ng-template pTemplate="content">
      <p-button (click)="onAdd()" label="Add new restaurant" styleClass="p-button-primary" icon="pi pi-plus"></p-button>
      <p *ngIf="restaurants.length === 0"><strong>No restaurants</strong></p>
      <p-accordion [multiple]="true" [style]="{'margin-top': '20px'}">
        <p-accordionTab *ngFor="let restaurant of restaurants">
          <ng-template pTemplate="header">
            <div style="display: flex; align-items: center;">
              <p-chip [label]="restaurant.name"
                      [image]="restaurant.profilePicture"
                      [style]="{'background-color': '#82b366', 'color': '#f5f5f5'}"></p-chip>
            </div>
            <div style="display: flex; gap: 0.3rem; align-items: center; margin-left: auto; margin-right: 0;">
              <p-chip [label]="restaurant.city"></p-chip>
              <p-chip [label]="restaurant.country"></p-chip>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <div style="display: flex; gap: 5.0rem; justify-content: center;">
              <p-chip>No. of reviews: {{ restaurant.numberOfReviews }}</p-chip>
              <p-chip>Rating: {{ restaurant.rating | number:'1.2-2' }}/5.00</p-chip>
            </div>
            <div style="margin-top: 20px; display: flex; gap: 0.5rem; justify-content: center; align-items: center;">
              <div class="picturesClass" *ngFor="let picture of restaurant.pictures"
                   (click)="deletePicture(restaurant.id, picture.id)" style="width: 5%;">
                <img [src]="picture.picture" alt="No image" width="100%">
                <i id="picture-icon" class="pi pi-trash"></i>
              </div>
            </div>
            <p-divider align="center" [style]="{'margin-top': '20px', 'z-index': '0'}">Actions</p-divider>
            <div style="margin-top: 20px; display: flex; gap: 0.5rem; justify-content: start;">
              <p-button (click)="onUpdate(restaurant)" label="Update data" styleClass="p-button-warning"></p-button>
              <p-button (click)="deleteRestaurant(restaurant.id)" label="Delete restaurant"
                        styleClass="p-button-danger"></p-button>
              <span style="margin-left: auto;"><p-button [routerLink]="'/restaurant-page/' + restaurant.id"
                                                         label="Go to restaurant page"
                                                         styleClass="p-button-primary"></p-button></span>
            </div>
          </ng-template>
        </p-accordionTab>
      </p-accordion>
    </ng-template>
  </p-card>
</div>

<p-confirmDialog [style]="{width: '50vw'}" acceptButtonStyleClass="p-button-danger"
                 rejectButtonStyleClass="p-button-secondary"></p-confirmDialog>

<p-dialog [(visible)]="isAddFormVisible"
          [modal]="true" [draggable]="false" [resizable]="false"
          header="New restaurant"
          [style]="{width: '80vw', height: '50vw'}">
  <form [formGroup]="addRestaurantForm" (ngSubmit)="addRestaurant()">
    <div style="display: flex; flex-direction: column; align-items: center;">
                <span class="p-float-label" style="margin-top: 20px;">
                    <input formControlName="name" pInputText id="name" size="50" type="text"/>
                    <label for="name">Name</label>
                </span>

      <span class="p-float-label" style="margin-top: 25px;">
                    <input formControlName="city" pInputText id="city" size="50" type="text"/>
                    <label for="city">City</label>
                </span>

      <span class="p-float-label" style="margin-top: 25px;">
                    <input formControlName="country" pInputText id="country" size="50" type="text"/>
                    <label for="country">Country</label>
                </span>

      <span class="p-float-label" style="margin-top: 25px;">
                    <input formControlName="profilePicture" pInputText id="profilePicture" size="75" type="text"/>
                    <label for="profilePicture">Profile picture URL</label>
                </span>

      <span class="p-float-label" style="margin-top: 25px;">
                    <textarea style="resize: none;" formControlName="shortDescription" id="shortDescription" rows="5"
                              cols="100" pInputTextarea></textarea>
                    <label for="shortDescription">Short description of your restaurant - <em>optional</em></label>
                </span>

      <p-button styleClass="p-button-success" [style]="{'margin-top': '30px'}" label="Submit" type="submit"></p-button>
    </div>
  </form>
</p-dialog>

<p-dialog [(visible)]="isUpdateFormVisible"
          [modal]="true" [draggable]="false" [resizable]="false"
          header="Update restaurant data"
          [style]="{width: '80vw', height: '50vw'}">

  <form [formGroup]="updateRestaurantForm" (ngSubmit)="updateRestaurant()">
    <div style="display: flex; flex-direction: column; align-items: center;">
                <span class="p-float-label" style="margin-top: 20px;">
                    <input formControlName="name" pInputText id="updateName" size="50" type="text"/>
                    <label for="updateName">Name</label>
                </span>

      <span class="p-float-label" style="margin-top: 25px;">
                    <input formControlName="profilePicture" pInputText id="updateProfilePicture" size="50" type="text"/>
                    <label for="updateProfilePicture">Profile picture (URL)</label>
                </span>

      <span class="p-float-label" style="margin-top: 25px;">
                    <textarea style="resize: none;" formControlName="shortDescription" id="updateShortDescription"
                              rows="5" cols="100" pInputTextarea></textarea>
                    <label for="updateShortDescription">Short description</label>
                </span>

      <p-button styleClass="p-button-info" type="submit" [style]="{'margin-top': '30px'}" label="Update"></p-button>
    </div>
  </form>

  <p-divider align="center">Add pictures</p-divider>

  <div style="display: flex; flex-direction: column; align-items: center;">
    <div style="margin-top: 20px; display: flex; gap: 0.5rem; align-items: center;">
              <span class="p-float-label">
                  <input [(ngModel)]="newPictureUrl" id="addPicture" pInputText type="text" size="75">
                  <label for="addPicture">Add new picture (URL)</label>
              </span>
      <p-button styleClass="p-button-secondary" icon="pi pi-upload" label="Upload"
                (click)="onNewPictureUpload()"></p-button>
    </div>
  </div>
</p-dialog>
